.back-button{
    padding: 8px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.573);
    position: sticky;
    background-color: var(--background-color);
    top: 90px;
}
.country-details{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}
.country-details img{
    width: 40%;
    border-radius: 5px;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.573);
}
.details-text{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 100px;
    max-height: 160px;
    flex-wrap: wrap;
}
.details-text p{
    margin: 0;
}
.border-countries{
    margin-top: 5%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 7px;
}
.border-countries a{
    padding: 4px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.321);
}
@media(max-width: 850px){
    .back-button{
        padding: 8px 15px;
    }
    .country-details{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .details-text{
        /* display: block; */
        max-height: unset;
    }
    .country-details img{
        width: 60%;
    }
    .border-countries{
        margin-top: 55px;
        display: block;
    }
    .border-countries a{
        display: flex;
        margin-top: 6%;
        width: 60%;
    }
}