*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #636361;
}
nav{
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #baaeae;
}
nav a{
    border: solid #6ea3f8 2px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.centre{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.allCentre{
    margin: 15px;
    height: 80vh;
    display: flex;
    width: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bolder;
    border: 5px solid black;
    border-radius: 70%;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.285);
    /* background-color: #e74343; */
}
#banner{
    padding: 10px;
}
#clock{
    padding: 20px;
    width: 70px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffffff42;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.365);
}